# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\khaled worked apps\Dokanze Task\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
